[user "email=nm2107@hotmail"]
	fr = user.name=nicolasmure
[user]
	name = Nicolas MURE
	email = n.mure@local.fr
[push]
	default = matching
[core]
	excludesfile = /home/nmure/.gitignore_global
	editor = vim
[rerere]
    # If, like me, you like rerere, decomment these
    # autoupdate = true
    enabled = true

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

