[user "email=nm2107@hotmail"]
	fr = user.name=nicolasmure
[user]
	name = Nicolas MURE
	email = nicolas.mure@knplabs.com
[push]
	default = matching
[core]
	excludesfile = /home/nicolas/.gitignore_global
	editor = vim
[rerere]
    # If, like me, you like rerere, decomment these
    # autoupdate = true
    enabled = true

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[commit]
	gpgsign = true
[gpg]
	program = gpg2
