[user]
	name = Nicolas MURE
	email = nicolas.mure2019@gmail.com
[push]
	default = matching
[core]
	excludesfile = /home/nicolas/.gitignore_global
	editor = nvim
[rerere]
    # If, like me, you like rerere, decomment these
    # autoupdate = true
    enabled = true

[commit]
	gpgsign = true
[gpg]
	program = gpg2

[rebase]
    autosquash = true
[pager]
	branch = false
