# {{ ansible_managed }}

# brightness can go up to 255
# @see https://blog.jallet.org/controler-le-retro-eclairage-du-clevo-n151zu-1178.html

options tuxedo_keyboard mode=0 brightness=85 state=1 color_left=0xffffff color_center=0xffffff color_right=0xffffff
