# {{ ansible_managed }}

# @see https://github.com/tuxedocomputers/tuxedo-keyboard/blob/4749901db2dcc3430bf6497086bb9fefbac7eeff/src_pkg/rpm_pkg.spec#L145-L148
# latest settings are saved and loaded on boot

options tuxedo_keyboard kbd_backlight_mode=0
