---
# @see `$ aplay -l` and `$ arecord -l`
audio_4_dj_card_number: 1
# @see https://ywwg.com/wordpress/archives/772
# 2: phono
# 1: line
# 0: timecode
audio_4_dj_input_mode: 1

enable_tuxedo_keyboard_backlight_controls: false
enable_xbox_controller: false
force_tuxedo_keyboard_backlight_controls_reinstall: false
# @see https://github.com/tuxedocomputers/tuxedo-keyboard/releases
tuxedo_keyboard_commit: 4f763e9e74ea4bcd8a5f6973844c6ec11a012174
tuxedo_keyboard_version: 3.0.1

autostart_chromecast_audio: false
install_chromecast_audio: false
install_daw: false
install_docker: false
install_game_emulators: false
install_mixxx: false
install_nodejs: false
install_php: false
install_python_lsp: false
install_rust: false
install_slack: false
install_terraform: false
install_vagrant: false
# see /etc/selinux/config for possible selinux statuses
selinux_status: enforcing
