[Desktop Entry]
Type=Application
Name=mkchromecast
Exec=/usr/local/bin/mkchromecast -p 10291 --encoder-backend ffmpeg -c wav --sample-rate 44100 --chunk-size 4096
